/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid blue; 
  border-right-color: yellow;
  animation: spin 0.5s infinite linear;
  margin: 30px auto;
}
@keyframes spin {to{transform: rotate(1turn)}}